main{background-color:#cbe6ea;max-width:800px;min-height:100vh;margin:auto;padding:10px}body{background-color:#add8e6}#test_text{max-width:800px;margin-bottom:20px}#toggle_test_button{font-size:48px}
